
fastapi
pydantic
protobuf
sentence-transformers
numpy
uvicorn
langchain-core
langchain-ollama
sqlalchemy
starlette
langchain-openrouter
retry-requests
requests-cache
openmeteo-requests
requests
bcrypt
pyjwt